{% load static %}
<div class="container admin-users-block-add-3">
                    <h1 class="text-filter-add-1">Данные недвижимости</h1>
                    {% if prop != 'Паркинг' and prop != 'Коворкинг' %}
                        <div class="p-2 block-filter-add-7" id="rooms">
                        <h1 class="text-filter-add-2" id="rooms-text">Комнат</h1>
                        <div class="d-flex flex-wrap add-type-7">
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option31" autocomplete="off" value="1" checked>
                            <label class="btn btn-secondary button-add-type-3" for="option31" style="padding: 8px 18px;">1</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option32" autocomplete="off" value="2">
                            <label class="btn btn-secondary button-add-type-3" for="option32" style="padding: 8px 16px;">2</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option33" autocomplete="off" value="3">
                            <label class="btn btn-secondary button-add-type-3" for="option33" style="padding: 8px 16px;">3</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option34" autocomplete="off" value="4">
                            <label class="btn btn-secondary button-add-type-3" for="option34" style="padding: 8px 16px;">4</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option35" autocomplete="off" value="5+">
                            <label class="btn btn-secondary button-add-type-3" for="option35" style="padding: 8px 12px;">5+</label>
                        </div>
                    </div>
                    {% endif %}
                    {% if prop == 'Коворкинг' %}
                        <div class="p-2 block-filter-add-7" id="rooms">
                        <h1 class="text-filter-add-2" id="rooms-text">Комнат</h1>
                        <div class="d-flex flex-wrap add-type-7">
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option31" autocomplete="off" value="openspace" checked>
                            <label class="btn btn-secondary button-add-type-3" for="option31" style="width: 120px; padding: 8px 18px;">openspace</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option32" autocomplete="off" value="1">
                            <label class="btn btn-secondary button-add-type-3" for="option32" style="padding: 8px 18px;">1</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option33" autocomplete="off" value="2">
                            <label class="btn btn-secondary button-add-type-3" for="option33" style="padding: 8px 16px;">2</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option34" autocomplete="off" value="3">
                            <label class="btn btn-secondary button-add-type-3" for="option34" style="padding: 8px 16px;">3</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option35" autocomplete="off" value="4">
                            <label class="btn btn-secondary button-add-type-3" for="option35" style="padding: 8px 16px;">4</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-3" id="option36" autocomplete="off" value="5+">
                            <label class="btn btn-secondary button-add-type-3" for="option36" style="padding: 8px 12px;">5+</label>
                        </div>
                    </div>
                    {% endif %}
                    {% if prop == 'Апартамент' or prop == 'Квартира' %}
                         <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Спален</h1>
                        <div class="d-flex flex-wrap add-type-7">
                            <input type="radio" class="btn-check button-add-type-3" name="options-4" id="option46" autocomplete="off" value="Студия" checked>
                            <label class="btn btn-secondary button-add-type-3" for="option46" style="padding: 8px 18px; width: 87px;">Студия</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-4" id="option41" autocomplete="off" value="1">
                            <label class="btn btn-secondary button-add-type-3" for="option41" style="padding: 8px 18px;">1</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-4" id="option42" autocomplete="off" value="2">
                            <label class="btn btn-secondary button-add-type-3" for="option42" style="padding: 8px 16px;">2</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-4" id="option43" autocomplete="off" value="3">
                            <label class="btn btn-secondary button-add-type-3" for="option43" style="padding: 8px 16px;">3</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-4" id="option44" autocomplete="off" value="4">
                            <label class="btn btn-secondary button-add-type-3" for="option44" style="padding: 8px 16px;">4</label>
                            <input type="radio" class="btn-check button-add-type-3" name="options-4" id="option45" autocomplete="off" value="5+">
                            <label class="btn btn-secondary button-add-type-3" for="option45" style="padding: 8px 12px;">5+</label>
                        </div>
                    </div>
                    {% endif %}
                    {% if prop == 'Офис' or prop == 'Торговая площадь' or prop == 'Свободного назначения' %}
                        <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Мокрые точки</h1>
                        <div class="input-group mb-3 add-type-5">
                            <input type="text" name="wet_spots" id="wet_spots" class="form-control input-add-pl" placeholder="1" aria-label="tower" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    {% endif %}
                    <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Общая площадь</h1>
                        <div class="input-group mb-3 add-type-5">
                            <input type="text" name="total_area" id="total_area" onkeyup="total(this.value);" class="form-control input-add-pl" placeholder="м²" aria-label="tower" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    {% if prop == 'Офис' or prop == 'Торговая площадь' or prop == 'Свободного назначения' or prop == 'Коворкинг' %}
                        <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">1 комната</h1>
                        <div class="input-group mb-3 add-type-5">
                            <input type="text" name="one_room" class="form-control input-add-pl" id="one_room" placeholder="м²" aria-label="tower" aria-describedby="addon-wrapping">
                        </div>
                        </div>
                    {% endif %}
                    {% if stat == 'rent' %}
                        <div class="p-2 block-filter-add-6">
                        <h1 class="text-filter-add-2">Длительность</h1>
                        <div class="p-2 add-select-admin-4">
                            <div class="d-flex flex-wrap add-type-8">
                                <input type="radio" class="btn-check button-add-type-4" name="duration" id="duration1" autocomplete="off" checked="checked" value="Любой срок аренды">
                                <label class="btn btn-secondary button-add-type-4" for="duration1" style="width: 192px;">Любой срок аренды</label>
                                <input type="radio" class="btn-check button-add-type-4" name="duration" id="duration2" autocomplete="off" value="Посуточно">
                                <label class="btn btn-secondary button-add-type-4" for="duration2" style="width: 124px;">Посуточно</label>
                                <input type="radio" class="btn-check button-add-type-4" name="duration" id="duration3" autocomplete="off" value="Почасовая">
                                <label class="btn btn-secondary button-add-type-4" for="duration3" style="width: 124px;">Почасовая</label>
                                <input type="radio" class="btn-check button-add-type-4" name="duration" id="duration4" autocomplete="off" value="На длительный срок">
                                <label class="btn btn-secondary button-add-type-4" for="duration4" style="width: 195px;">На длительный срок</label>
                            </div>
                            <div class="p-2 add-type-9">
                                <input type="radio" class="btn-check button-add-type-4" name="duration" id="duration5" autocomplete="off" value="На короткий срок">
                                <label class="btn btn-secondary button-add-type-4" for="duration5" style="width: 176px;">На короткий срок</label>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if prop == 'Апартамент' or prop == 'Квартира' %}
                        <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Санузел</h1>
                        <div class="d-flex flex-wrap add-type-10">
                            <input type="radio" class="btn-check button-add-type-3" name="bathroom" id="su1" autocomplete="off" value="Персональный с/у" checked>
                            <label class="btn btn-secondary button-add-type-3" for="su1" style="width: 182px;">Персональный с/у</label>
                            <input type="radio" class="btn-check button-add-type-3" name="bathroom" id="su2" autocomplete="off" value="Гостевой + Персональный с/у">
                            <label class="btn btn-secondary button-add-type-3" for="su2" style="width: 261px;">Гостевой + Персональный с/у</label>
                            <input type="radio" class="btn-check button-add-type-3" name="bathroom" id="su3" autocomplete="off" value="3 + с/у">
                            <label class="btn btn-secondary button-add-type-3" for="su3" style="width: 99px;">3 + с/у</label>
                        </div>
                    </div>
                    {% endif %}
                    {% if prop != 'Паркинг' %}
                            <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Ремонт</h1>
                        <div class="d-flex flex-wrap add-type-10">
                            <input type="radio" class="btn-check button-add-type-3" name="repair" id="remont1" autocomplete="off" value="shell&core" checked>
                            <label class="btn btn-secondary button-add-type-3" for="remont1" style="width: 118px;">shell&core</label>
                            <input type="radio" class="btn-check button-add-type-3" name="repair" id="remont2" autocomplete="off" value="whitebox">
                            <label class="btn btn-secondary button-add-type-3" for="remont2" style="width: 110px;">whitebox</label>
                            <input type="radio" class="btn-check button-add-type-3" name="repair" id="remont3" autocomplete="off" value="Класика">
                            <label class="btn btn-secondary button-add-type-3" for="remont3" style="width: 106px;">Класика</label>
                            <input type="radio" class="btn-check button-add-type-3" name="repair" id="remont4" autocomplete="off" value="Неокласика">
                            <label class="btn btn-secondary button-add-type-3" for="remont4" style="width: 132px;">Неокласика</label>
                            <input type="radio" class="btn-check button-add-type-3" name="repair" id="remont5" autocomplete="off" value="Лофт">
                            <label class="btn btn-secondary button-add-type-3" for="remont5" style="width: 84px;">Лофт</label>
                            <input type="radio" class="btn-check button-add-type-3" name="repair" id="remont6" autocomplete="off" value="Дизайнерский">
                            <label class="btn btn-secondary button-add-type-3" for="remont6" style="width: 149px;">Дизайнерский</label>
                        </div>
                    </div>
                    {% endif %}

                    {% if prop == 'Офис' or prop == 'Торговая площадь' or prop == 'Свободного назначения' %}
                        {% if stat == 'sale' %}
                            <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Готовый бизнес</h1>
                        <div class="d-flex flex-wrap add-type-10">
                            <input type="radio" class="btn-check button-add-type-3" name="ready_made_business" id="ready_made_business1" autocomplete="off" value="Готовый бизнес" checked>
                            <label class="btn btn-secondary button-add-type-3" for="ready_made_business1" style="width: 162px;">Готовый бизнес</label>
                            <input type="radio" class="btn-check button-add-type-3" name="ready_made_business" id="ready_made_business2" autocomplete="off" value="Без арендатора">
                            <label class="btn btn-secondary button-add-type-3" for="ready_made_business2" style="width: 162px;">Без арендатора</label>
                        </div>
                        </div>
                            {% endif %}
                    {% endif %}
                    {% if stat == 'rent' %}
                        {% if prop == 'Офис' or prop == 'Торговая площадь' or prop == 'Свободного назначения' or prop == 'Коворкинг' %}
                            <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Право собственности</h1>
                        <div class="d-flex flex-wrap add-type-11">
                            <input type="radio" class="btn-check button-add-type-3" name="ownership" id="ownership1" autocomplete="off" value="Прямая аренда" checked>
                            <label class="btn btn-secondary button-add-type-3" for="ownership1" style="width: 180px; padding: 8px 34px;">Прямая аренда</label>
                            <input type="radio" class="btn-check button-add-type-3" name="ownership" id="ownership2" autocomplete="off" value="Субаренда">
                            <label class="btn btn-secondary button-add-type-3" for="ownership2" style="width: 130px;">Субаренда</label>
                        </div>
                        </div>
                            {% endif %}
                    {% endif %}
                    {% if stat == 'rent' %}
                        {% if prop != 'Паркинг' %}
                            <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Клининг</h1>
                        <div class="d-flex flex-wrap add-type-11">
                            <input type="radio" class="btn-check button-add-type-3" name="cleaning" id="cleaning1" autocomplete="off" value="Клининг общих мест" checked>
                            <label class="btn btn-secondary button-add-type-3" for="cleaning1" style="width: 225px; padding: 8px 34px;">Клининг общих мест</label>
                            <input type="radio" class="btn-check button-add-type-3" name="cleaning" id="cleaning2" autocomplete="off" value="Клининг не предусмотрен">
                            <label class="btn btn-secondary button-add-type-3" for="cleaning2" style="width: 244px;">Клининг не предусмотрен</label>
                            <input type="radio" class="btn-check button-add-type-3" name="cleaning" id="cleaning3" autocomplete="off" value="Клининг включен">
                            <label class="btn btn-secondary button-add-type-3" for="cleaning3" style="width: 176px;">Клининг включен</label>
                        </div>
                        </div>
                            {% endif %}
                        {% else %}
                        <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Обременение</h1>
                        <div class="d-flex flex-wrap add-type-11">
                            <input type="radio" class="btn-check button-add-type-3" name="encumbrance" id="encumbrance1" autocomplete="off" value="Без обременений" checked>
                            <label class="btn btn-secondary button-add-type-3" for="encumbrance1" style="width: 200px; padding: 8px 34px;">Без обременений</label>
                            <input type="radio" class="btn-check button-add-type-3" name="encumbrance" id="encumbrance2" autocomplete="off" value="Аренда (субаренда)">
                            <label class="btn btn-secondary button-add-type-3" for="encumbrance2" style="width: 200px;">Аренда (субаренда)</label>
                            <input type="radio" class="btn-check button-add-type-3" name="encumbrance" id="encumbrance3" autocomplete="off" value="Ипотека (залог недвижимости)">
                            <label class="btn btn-secondary button-add-type-3" for="encumbrance3" style="width: 275px;">Ипотека (залог недвижимости)</label>
                        </div>
                        </div>
                        <div class="p-2 add-type-11">
                            <input type="radio" class="btn-check button-add-type-3" name="encumbrance" id="encumbrance4" autocomplete="off" value="Арест">
                            <label class="btn btn-secondary button-add-type-3" for="encumbrance4" style="width: 100px; margin-left: 222px">Арест</label>

                        </div>
                    {% endif %}

                    {% if stat == 'rent' %}
                        <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Коммуналка</h1>
                        <div class="d-flex flex-wrap add-type-11">
                            <input type="radio" class="btn-check button-add-type-3" name="communal" id="communal1" autocomplete="off" value="+счетчики" checked>
                            <label class="btn btn-secondary button-add-type-3" for="communal1" style="width: 122px;">+счетчики</label>
                            <input type="radio" class="btn-check button-add-type-3" name="communal" id="communal2" autocomplete="off" value="все включено">
                            <label class="btn btn-secondary button-add-type-3" for="communal2" style="width: 149px;">все включено</label>
                            <input type="radio" class="btn-check button-add-type-3" name="communal" id="communal3" autocomplete="off" value="+все платежи">
                            <label class="btn btn-secondary button-add-type-3" for="communal3" style="width: 149px;">+все платежи</label>
                        </div>
                    </div>
                    {% endif %}

                    <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">НДС</h1>
                        <div class="d-flex flex-wrap add-type-11">
                            <input type="radio" class="btn-check button-add-type-3" name="nds" id="nds1" autocomplete="off" value="НДС включен" checked>
                            <label class="btn btn-secondary button-add-type-3" for="nds1" style="width: 148px;">НДС включен</label>
                            <input type="radio" class="btn-check button-add-type-3" name="nds" id="nds2" autocomplete="off" value="НДС не облагается">
                            <label class="btn btn-secondary button-add-type-3" for="nds2" style="width: 186px;">НДС не облагается</label>
                            <input type="radio" class="btn-check button-add-type-3" name="nds" id="nds3" autocomplete="off" value="+НДС 20%">
                            <label class="btn btn-secondary button-add-type-3" for="nds3" style="width: 126px;">+НДС 20%</label>
                            <input type="radio" class="btn-check button-add-type-3" name="nds" id="nds4" autocomplete="off" value="+НДС 10%">
                            <label class="btn btn-secondary button-add-type-3" for="nds4" style="width: 124px;">+НДС 10%</label>
                            <input type="radio" class="btn-check button-add-type-3" name="nds" id="nds5" autocomplete="off" value="+НДС 0%">
                            <label class="btn btn-secondary button-add-type-3" for="nds5" style="width: 118px;">+НДС 0%</label>
                        </div>
                    </div>
                    {% if stat == 'rent' %}
                        <div class="p-2 block-filter-add-7">
                        <h1 class="text-filter-add-2">Предоплата</h1>
                        <div class="d-flex flex-wrap add-type-11">
                            <input type="radio" class="btn-check button-add-type-3" name="prepayment" id="prepayment1" autocomplete="off" value="1 месяц" checked>
                            <label class="btn btn-secondary button-add-type-3" for="prepayment1" style="width: 106px;">1 месяц</label>
                            <input type="radio" class="btn-check button-add-type-3" name="prepayment" id="prepayment2" autocomplete="off" value="2 месяца">
                            <label class="btn btn-secondary button-add-type-3" for="prepayment2" style="width: 116px;">2 месяца</label>
                            <input type="radio" class="btn-check button-add-type-3" name="prepayment" id="prepayment3" autocomplete="off" value="3 месяца">
                            <label class="btn btn-secondary button-add-type-3" for="prepayment3" style="width: 117px;">3 месяца</label>
                            <input type="radio" class="btn-check button-add-type-3" name="prepayment" id="prepayment4" autocomplete="off" value="За полгода">
                            <label class="btn btn-secondary button-add-type-3" for="prepayment4" style="width: 130px;">За полгода</label>
                            <input type="radio" class="btn-check button-add-type-3" name="prepayment" id="prepayment5" autocomplete="off" value="За год">
                            <label class="btn btn-secondary button-add-type-3" for="prepayment5" style="width: 97px;">За год</label>
                        </div>
                    </div>
                    <div class="p-2 block-filter-add-10">
                        <h1 class="text-filter-add-2">Залог</h1>
                        <div class="input-group mb-3 add-type-5">
                            <input type="text" name="deposit" class="form-control input-add-zl" placeholder="12 000 000 ₽" aria-label="tower" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    {% endif %}
                    {% if prop == 'Апартамент' or prop == 'Квартира' %}
                        <div class="p-2 block-filter-add-11">
                        <h1 class="text-filter-add-2">Удобства</h1>
                        <div class="input-group mb-3 add-type-12">
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-2" name="flexCheckDefault-2" onclick="check_udob('#flexCheckDefault-2')">
                                    <label class="form-check-label" for="flexCheckDefault-2">
                                        <img src="{% static 'img/icon/ud-2.png' %}">
                                        Вид на сити
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-1" name="flexCheckDefault-1" onclick="check_udob('#flexCheckDefault-1')">
                                    <label class="form-check-label" for="flexCheckDefault-1">
                                        <img src="{% static 'img/icon/ud-1.png' %}">
                                        Вид на город
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-3" name="flexCheckDefault-3" onclick="check_udob('#flexCheckDefault-3')">
                                    <label class="form-check-label" for="flexCheckDefault-3">
                                        <img src="{% static 'img/icon/ud-3.png' %}">
                                        Мебель
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-4" name="flexCheckDefault-4" onclick="check_udob('#flexCheckDefault-4')">
                                    <label class="form-check-label" for="flexCheckDefault-4">
                                        <img src="{% static 'img/icon/ud-4.png' %}">
                                        Угол
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-5" name="flexCheckDefault-5" onclick="check_udob('#flexCheckDefault-5')">
                                    <label class="form-check-label" for="flexCheckDefault-5">
                                        <img src="{% static 'img/icon/ud-5.png' %}">
                                        Мастер-спальня
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-6" name="flexCheckDefault-6" onclick="check_udob('#flexCheckDefault-6')">
                                    <label class="form-check-label" for="flexCheckDefault-6">
                                        <img src="{% static 'img/icon/ud-6.png' %}">
                                        Кухня гостиная
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-7" name="flexCheckDefault-7" onclick="check_udob('#flexCheckDefault-7')">
                                    <label class="form-check-label" for="flexCheckDefault-7">
                                        <img src="{% static 'img/icon/ud-7.png' %}">
                                        Гардеробная
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-8" name="flexCheckDefault-8" onclick="check_udob('#flexCheckDefault-8')">
                                    <label class="form-check-label" for="flexCheckDefault-8">
                                        <img src="{% static 'img/icon/ud-8.png' %}">
                                        Кровать
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-9" name="flexCheckDefault-9" onclick="check_udob('#flexCheckDefault-9')">
                                    <label class="form-check-label" for="flexCheckDefault-9">
                                        <img src="{% static 'img/icon/ud-9.png' %}">
                                        Бытовые приборы
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-10" name="flexCheckDefault-10" onclick="check_udob('#flexCheckDefault-10')">
                                    <label class="form-check-label" for="flexCheckDefault-10">
                                        <img src="{% static 'img/icon/ud-10.png' %}">
                                        Постирочная
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-11" name="flexCheckDefault-11" onclick="check_udob('#flexCheckDefault-11')">
                                    <label class="form-check-label" for="flexCheckDefault-11">
                                        <img src="{% static 'img/icon/ud-11.png' %}">
                                        Душ
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-12" name="flexCheckDefault-12" onclick="check_udob('#flexCheckDefault-12')">
                                    <label class="form-check-label" for="flexCheckDefault-12">
                                        <img src="{% static 'img/icon/ud-12.png' %}">
                                        Ванна
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap str-apart-mob">
                                <input type="checkbox" class="btn-check button-apart-mob-10" name="option14_mob" id="option14_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-10" for="option14_mob">
                                    <img src="{% static 'img/icon/ud-3.png' %}" style="width: 20px; height: 20px;">
                                    Мебель
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-11" name="option15_mob" id="option15_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-11" for="option15_mob">
                                    <img src="{% static 'img/icon/ud-2.png' %}" style="width: 20px; height: 20px;">
                                    Вид на сити
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-14" name="option13_mob" id="option13_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-14" for="option13_mob">
                                    <img src="{% static 'img/icon/ud-1.png' %}" style="width: 20px; height: 20px;">
                                    Вид на город
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-12" name="option16_mob" id="option16_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-12" for="option16_mob">
                                    <img src="{% static 'img/icon/ud-5.png' %}" style="width: 20px; height: 20px;">
                                    Угол
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-13" name="option17_mob" id="option17_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-13" for="option17_mob">
                                    <img src="{% static 'img/icon/ud-4.png' %}" style="width: 20px; height: 20px;">
                                    Мастер-спальня
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-14" name="option18_mob" id="option18_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-14" for="option18_mob">
                                    <img src="{% static 'img/icon/ud-6.png' %}" style="width: 20px; height: 20px;">
                                    Кухня гостиная
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-15" name="option19_mob" id="option19_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-15" for="option19_mob">
                                    <img src="{% static 'img/icon/ud-8.png' %}" style="width: 20px; height: 20px;">
                                    Кровать
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-16" name="option20_mob" id="option20_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-16" for="option20_mob">
                                    <img src="{% static 'img/icon/ud-9.png' %}" style="width: 20px; height: 20px;">
                                    Бытовые приборы
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-17" name="option21_mob" id="option21_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-17" for="option21_mob">
                                    <img src="{% static 'img/icon/ud-12.png' %}" style="width: 20px; height: 20px;">
                                    Ванна
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-18" name="option22_mob" id="option22_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-18" for="option22_mob">
                                    <img src="{% static 'img/icon/ud-7.png' %}" style="width: 20px; height: 20px;">
                                    Гардеробная
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-19" name="option23_mob" id="option23_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-19" for="option23_mob">
                                    <img src="{% static 'img/icon/ud-11.png' %}" style="width: 20px; height: 20px;">
                                    Душ
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-20" name="option24_mob" id="option24_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-20" for="option24_mob">
                                    <img src="{% static 'img/icon/ud-10.png' %}" style="width: 20px; height: 20px;">
                                    Постирочная
                                </label>
                            </div>
                        </div>
                    </div>
                        {% else %}
                        <div class="p-2 block-filter-add-11">
                        <h1 class="text-filter-add-2">Удобства</h1>
                        <div class="input-group mb-3 add-type-12">
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-2" name="flexCheckDefault-2" onclick="check_udob('#flexCheckDefault-2')">
                                    <label class="form-check-label" for="flexCheckDefault-2">
                                        <img src="{% static 'img/icon/ud-2.png' %}">
                                        Вид на сити
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-1" name="flexCheckDefault-1" onclick="check_udob('#flexCheckDefault-1')">
                                    <label class="form-check-label" for="flexCheckDefault-1">
                                        <img src="{% static 'img/icon/ud-1.png' %}">
                                        Вид на город
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-3" name="flexCheckDefault-3" onclick="check_udob('#flexCheckDefault-3')">
                                    <label class="form-check-label" for="flexCheckDefault-3">
                                        <img src="{% static 'img/icon/ud-3.png' %}">
                                        Мебель
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-4" name="flexCheckDefault-4" onclick="check_udob('#flexCheckDefault-4')">
                                    <label class="form-check-label" for="flexCheckDefault-4">
                                        <img src="{% static 'img/icon/ud-4.png' %}">
                                        Угол
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-5" name="flexCheckDefault-5" onclick="check_udob('#flexCheckDefault-5')">
                                    <label class="form-check-label" for="flexCheckDefault-5">
                                        <img src="{% static 'img/icon/ud-13.png' %}">
                                        Свой с/у
                                    </label>
                                </div>
                                <div class="p-2 box-check-udob">
                                    <input class="form-check-input checkbox-ud" type="checkbox" value="" id="flexCheckDefault-6" name="flexCheckDefault-6" onclick="check_udob('#flexCheckDefault-6')">
                                    <label class="form-check-label" for="flexCheckDefault-6">
                                        <img src="{% static 'img/icon/ud-12.png' %}">
                                        Кухня
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap str-apart-mob">
                                <input type="checkbox" class="btn-check button-apart-mob-10" name="option14_mob" id="option14_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-10" for="option14_mob">
                                    <img src="{% static 'img/icon/ud-3.png' %}" style="width: 20px; height: 20px;">
                                    Мебель
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-11" name="option15_mob" id="option15_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-11" for="option15_mob">
                                    <img src="{% static 'img/icon/ud-2.png' %}" style="width: 20px; height: 20px;">
                                    Вид на сити
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-11" name="option13_mob" id="option13_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-11" for="option13_mob">
                                    <img src="{% static 'img/icon/ud-1.png' %}" style="width: 20px; height: 20px;">
                                    Вид на город
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-11" name="option17_mob" id="option17_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-11" for="option17_mob">
                                    <img src="{% static 'img/icon/ud-13.png' %}" style="width: 20px; height: 20px;">
                                    Свой с/у
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-12" name="option16_mob" id="option16_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-12" for="option16_mob">
                                    <img src="{% static 'img/icon/ud-5.png' %}" style="width: 20px; height: 20px;">
                                    Угол
                                </label>
                                <input type="checkbox" class="btn-check button-apart-mob-14" name="option18_mob" id="option18_mob" autocomplete="off">
                                <label class="btn btn-secondary button-apart-mob-14" for="option18_mob">
                                    <img src="{% static 'img/icon/ud-6.png' %}" style="width: 20px; height: 20px;">
                                    Кухня
                                </label>
                            </div>
                        </div>
                    </div>
                    {% endif %}
</div>
</div>